@import "bootstrap.less";
@import "variables.less";


@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff'), url('../fonts/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff'), url('../fonts/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/latoblack.woff2') format('woff2'), url('../fonts/latoblack.woff') format('woff'), url('../fonts/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


h1, .h1 {
  color: @brand-success;
  font-weight: 900;
}
@media (min-width: @screen-lg-min) {
  h1, .h1 {
    font-size: @font-size-h1 *  1.3;
  }
  h2, .h2 {
    font-size: @font-size-h2 *  1.3;
  }
  h3, .h3 {
    font-size: @font-size-h3 *  1.3;
  }
}
.border-link {
  border-bottom: 1px solid rgba(18,207,203,0.5);
}
.text-page {
  a {
    .border-link;
  }
}
.btn {
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  height: 46px;
}
.btn-primary {
  box-shadow: 0 -2px #0ea09f inset;
  &:hover, &:focus {
    background: #7cdbd5;
    box-shadow: 0 -2px #3fa899 inset;
  }
  &:active {
    box-shadow: 0 -2px #7cdbd5 inset;
  }
}
.btn-resronsive {
  width: 100%;
  max-width: 290px;
}
caption {
  font-size: ceil(@font-size-base * 1.13);
  @media (min-width: @screen-lg-min) {
    font-size: ceil(@font-size-base * 1.33);
  }
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  color: #575756;
  @media (min-width: @screen-sm-min) {
    padding: 8px 40px;
  }
}
.table > tbody > tr > td.text-black {
  color: #000;
}
.stylized-ul {
  .list-unstyled;
  li {
    text-indent: -15px;
    padding-left: 15px;
    &:before {
      content: "·";
      color: #02cabf;
      font-weight: 700;
      padding-right: 10px;
    }
  }
}
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
                                        /*Header*/
header {
  background: @navbar-default-bg;
  position: relative;
  &.main-header {
    .main-navbar {
      //background: #383f4a;
      @media (min-width: @screen-sm-min) {
        //background: none;
      }
    }
    .services-navbar {
      background: #383f4a;
      border-bottom: none;
      //border-top: 1px solid rgba(255,255,255,0.5);
    }
    .navbar-default .services-nav > li > a {
      @media (min-width: @screen-sm-min) {
        color: #fff;
      }
    }
    .navbar-default .navbar-nav > li.active > a {
      color: @brand-primary;
    }
  }
  &.frontpage-header {
    background: url(../images/bg_mobile.jpg) no-repeat center top / cover;
    min-height: 536px;
    @media (min-width: @screen-sm-min) {
      //background: url(../images/bg.jpg) no-repeat center top / auto 100%;
      background: url(../images/main-bg.jpg) no-repeat center top / auto 100%;
      height: 664px;
    }
    @media (min-width: @screen-lg-min) {
      height: 770px;
    }
  }
  &.dental-header {
    background: url(../images/bg-dent-1.jpg) no-repeat center top / cover;
  }
  &.hygiene-header {
    background: url(../images/bg-hyg-3.jpg) no-repeat center top / cover;
  }
  &.esthetic-header {
    background: url(../images/bg-est-1.jpg) no-repeat center top / cover;
  }
  &.prosthetics-header {
    //background: url(../images/bg-prosth-1.jpg) no-repeat center top / cover;
  }
  &.gums-header {
    //background: url(../images/bg-gums-1.jpg) no-repeat center top / cover;
  }
}
.esthetic-header {
  .inner-header-promo {
    p {
      margin-left:auto;
      margin-right:auto;
      text-align: center;
    }
  }
}
.header-overlay {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
    z-index: 1;
  }
}
.header-info-wrapper {
  position: relative;
  z-index: 2;
  @media (min-width: @screen-sm-min) {
    background: transparent;
    padding-left: 15px;
  }
}
.header-info {
  border-top: 1px solid @navbar-default-border;
  padding: 20px 0;
  @media (min-width: @screen-sm-min) {
   border-top: none;
    padding: 5px 0 10px;
    //margin-left: 34%;
  }
  @media (min-width: @screen-md-min) {
    //margin-left: 36%;
    padding-bottom: 10px;
  }
  @media (min-width: @screen-lg-min) {
    //margin-left: 34%;
  }
  > div {
    @media (min-width: @screen-sm-min) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.address, .schedule, .tel a {
  color: @text-color;
  font-size: 12px;
  font-weight: 900;
  @media (min-width: @screen-sm-min) {
    font-size: 11px;
  }
  @media (min-width: @screen-md-min) {
    font-size: 12px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 14px;
  }
}
.tel {
  text-align: right;
  p {
    line-height: 1.05;
    @media (min-width: @screen-sm-min) {
      padding-left: 10px;
      padding-right: 15px;
    }
    @media (min-width: @screen-lg-min) {
      padding-left: 20px;
      padding-right: 0;
      line-height: 1.36;
      text-align: left;
    }
  }
}
.address {
  padding-right: 0;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 15px;
  }
}
.schedule p, .tel p {
  margin-bottom: 0;
}
.schedule {
  text-align: right;
  margin-bottom: 15px;
}
.schedule {
  p {
    @media (min-width: @screen-sm-min) {
      padding-left: 15px;
      line-height: 1.5;
    }
    @media (min-width: @screen-md-min) {
      //padding-right: 35px;
    }
    @media (min-width: @screen-lg-min) {
      text-align: center;
    }
  }
}
.call {
  display: table;
  margin-top: -24px;
  @media (min-width: @screen-sm-min) {
    margin-top: 0;
  }
  a {
    > span {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.3;
      > span {
        border-bottom: 1px dashed rgba(18,207,203,0.5);
      }
      @media (min-width: @screen-sm-min) {
        display: inline-block;
        width: 60px;
      }
      @media (min-width: @screen-lg-min) {
        font-size: 14px;
        display: inline;
        width: auto;
      }
    }
    i {
      color: #fff;
      width: 28px;
      padding: 6px 0 7px;
      background: @brand-primary;
      border-radius: 50%;
      text-align: center;
      @media (min-width: @screen-sm-min) {
        display: inline-block;
        vertical-align: 7px;
      }
      @media (min-width: @screen-lg-min) {
        vertical-align: 0;
      }
    }
    &:hover, &:focus {
      span {
        color: @brand-primary;
      }
    }
  }
  @media (min-width: @screen-sm-min) {
    text-align: left;
  }
  @media (min-width: @screen-lg-min) {
    text-align: right;
  }
}
.dental-header, .hygiene-header {
  .main-navbar {
    background: #fff;
  }
}
/*Header end*/
                                      /*Navigation*/
.navbar-brand {
  padding: 15px 0;
  height: auto;
  @media (min-width: @screen-sm-min) {
  }
  img {
    .img-responsive;
  }
}
.navbar-toggle {
  background: @brand-primary;
  width: 40px;
  height: 40px;
  z-index: 100;
}
.navbar-default {
  position: relative;
  z-index: 2;
  .navbar-nav {
    border-top: 1px solid @navbar-default-border;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: @screen-sm-min) {
      border-top: 0;
    }
    > li {
      > a {
        text-transform: uppercase;
      }
    }
  }
  .main-nav {
    @media (min-width: @screen-sm-min) {
      float: right;
    }
    > li {
      @media (min-width: @screen-sm-min) {
        margin-left: 30px;
      }
      @media (min-width: @screen-md-min) {
        margin-left: 50px;
      }
      @media (min-width: @screen-lg-min) {
        margin-left: 68px;
      }
      > a {
        font-size: 12px;
        @media (min-width: @screen-sm-min) {
          padding: 4px 0;
        }
        @media (min-width: @screen-md-min) {
          font-size: 14px;
        }
        > span {
          border-bottom: 1px solid #7e828b;
        }
      }
      &.active {
        > a {
          font-weight: 700;
          span {
            .border-link;
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .services-nav {
    @media (min-width: @screen-sm-min) {
      display: table-row;
    }
    @media (min-width: @screen-lg-min) {
      display: block;
      width: 100%;
      text-align: justify;
      overflow: hidden;
      cursor: default;
      height: 54px;
      padding-top: 16px;
      padding-bottom: 16px;
      &:after {
        content: "1";
        margin-left: 100%;
        height: 1px;
        overflow: hidden;
        display: inline-block;
      }
    }
    > li {
      @media (min-width: @screen-sm-min) {
        float: none;
        display: table-cell;
        width: auto;
      }
      @media (min-width: @screen-lg-min) {
        display: inline;
      }
      > a {
        color: @text-color;
        font-size: 13px;
        font-weight: 900;
        &:hover, &:focus {
          color: @text-color!important;
        }
        @media (min-width: @screen-sm-min) {
          color: #fff;
          font-size: 11px;
          padding-top: 0;
          padding-bottom: 0;
          &:hover, &:focus {
            color: #fff!important;
          }
        }
        @media (min-width: @screen-md-min) {
          font-size: 14px;
        }
        @media (min-width: @screen-lg-min) {
          display: inline-block;
        }
        &:hover, &:focus {
          color: #fff;
          @media (min-width: @screen-sm-min) {
            color: @navbar-default-bg;
          }
        }
      }
    }
  }
}
.navbar-collapse {
  @media (min-width: @screen-sm-min) {
    //width: 70.83333333%;
    padding: 0;
  }
  @media (min-width: @screen-lg-min) {
    //width: 75%;
  }
}
.main-navbar {
  @media (min-width: @screen-sm-min) {
    min-height: auto;
  }
}
.services-navbar {
  @media (min-width: @screen-sm-min) {
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    min-height: auto;
  }
}
/*Navigation end*/
                                                      /*Footer*/
footer {
  background: #383f4a;
  .address, .tel a {
    color: #fff;
  }
  .address {
    @media (min-width: @screen-sm-min) {
      margin-top: 17px;
    }
    @media (min-width: @screen-lg-min) {
      margin-top: 20px;
    }
  }
}
.footer-nav {
  border-bottom: 1px solid @navbar-default-border;
  padding: 30px 0 15px;
  @media (min-width: @screen-sm-min) {
    padding: 40px 0 0;
  }
  ul {
    .list-unstyled;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    li {
      line-height: 1.2;
      margin-bottom: 15px;
      a {
        color: #c6c6c6;
      }
    }
  }
}
.footer-info {
  padding: 30px 0 20px;
  .call {
    text-align: left;
    @media (min-width: @screen-sm-min) {
      padding-left: 25px;
    }
    @media (min-width: @screen-md-min) {
      padding-left: 45px;
    }
    @media (min-width: @screen-lg-min) {
      padding-left: 0;
    }
  }
}
.footer-brand {
  margin-top: 5px;
  margin-bottom: 15px;
  @media (min-width: @screen-sm-min) {
    margin-top: 0;
    margin-bottom: 31px;
  }
  img {
    .img-responsive;
  }
}
.social {
  display: table;
  @media (min-width: @screen-sm-min) {
    text-align: right;
  }
  @media (min-width: @screen-lg-min) {
    text-align: left;
  }
  i {
    color: @brand-primary;
    width: 36px;
    height: 36px;
    border: 1px solid @brand-primary;
    border-radius: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}
.footer-info-col {
  @media (min-width: @screen-sm-min) {
    padding: 0;
  }
}
.warning, .oferta {
  color: #868686;
  font-size: 12px;
  @media (min-width: @screen-sm-min) {
    font-size: 13px;
  }
}
.warning {
  margin-bottom: 25px;
}
.oferta {
  margin: 25px 0;
  @media (min-width: @screen-md-min) {
    margin-top: 38px;
  }
}
.footer-create {
  text-align: right;
  @media (min-width: @screen-sm-min) {
    margin-top: 25px;
  }
  @media (min-width: @screen-md-min) {
    margin-top: 38px;
  }
  a {
    color: #868686;
    font-size: 12px;
    @media (min-width: @screen-sm-min) {
      font-size: 13px;
    }
  }
}
/*Footer end*/
                                                          /*Modal*/
.modal-header {
  position: relative;
  padding: 30px 15px 5px;
  @media (min-width: @screen-sm-min) {
    padding: 60px 60px 5px;
  }
}
.modal-title {
  color: @brand-success;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.1;
  @media (min-width: @screen-sm-min) {
    font-size: 32px;
  }
}
button.close {
  background: @brand-success;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  &:hover, &:focus {
    opacity: 1;
  }
  i {
    color: #fff;
    font-size: 20px;
  }
}
.modal-body {
  padding: 15px 15px 30px;
  @media (min-width: @screen-sm-min) {
    padding: 15px 60px 80px;
  }
}
/*Modal end*/
                                                      /*Main page*/
.header-promo {
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
  .btn {
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
    white-space: normal;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
.frontpage-header-promo {
  max-width: 615px;
  @media (min-width: @screen-sm-min) {
    padding-top: 35px;
  }
  @media (min-width: @screen-lg-min) {
    padding-top: 70px;
  }
  h1 {
    color: #383f4a;
    font-size: 22px;
    line-height: 1.0;
    margin-top: 0;
    @media (min-width: @screen-sm-min) {
      font-size: 34px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 42px;
    }
  }
  .header-promo-main-text {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      font-size: 16px;
      margin-bottom: 30px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 18px;
      margin-bottom: 45px;
    }
  }
  .header-promo-secondary-text {
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 30px;
    }
    p {
      @media (min-width: @screen-lg-min) {
        font-size: 16px;
      }
    }
  }
  /*
  p {
    color: @brand-success;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.2;
    max-width: 200px;
    margin-bottom: 5px;
    @media (min-width: @screen-sm-min) {
      font-size: 34px;
      line-height: 1.1;
      max-width: none;
      margin-bottom: 0;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 40px;
      margin-bottom: 8px;
    }
  }
  ul {
    padding: 0;
    max-width: 190px;
    margin: 15px 0;
    @media (min-width: @screen-sm-min) {
      max-width: none;
      margin: 15px 0 30px;
    }
    @media (min-width: @screen-lg-min) {
      margin: 25px 0 40px;
    }
    li {
      font-size: 13px;
      line-height: 1.4;
      list-style: none;
      padding-left: 20px;
      text-indent: -20px;
      margin-bottom: 7px;
      @media (min-width: @screen-sm-min) {
        font-size: 15px;
        margin-bottom: 2px;
      }
      &:before {
        content: "•";
        color: @brand-success;
        padding-right: 10px;
      }
    }
  }
  */
}
.services, .company {
  background: #f3f3f3;
}
.company {
  padding: 0 0 30px;
  @media (min-width: @screen-sm-min) {
    padding: 0 0 60px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 0 0 100px;
  }
}
.company-facts {
  background: #fff;
  padding: 30px 25px 10px;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
  top: -20px;
  @media (min-width: @screen-sm-min) {
    top: -65px;
    padding: 40px 30px 15px;
    margin-bottom: -40px;
  }
  @media (min-width: @screen-lg-min) {
    top: -110px;
    padding: 60px 15px 40px;
    margin-bottom: -85px;
  }
  h2 {
    color: #1d1d1b;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    @media (min-width: @screen-sm-min) {
      font-size: 26px;
      max-width: 480px;
      margin: 0 auto 30px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 36px;
      max-width: 660px;
      margin-bottom: 45px;
    }
  }
}
.company-facts-item {
  text-align: center;
  margin-bottom: 20px;
}
.company-facts-number {
  color: @brand-primary;
  font-size: 18px;
  font-weight: 700;
  @media (min-width: @screen-sm-min) {
    font-size: 22px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
.company-about-item {
  background: #fff;
  margin-bottom: 25px;
  @media (max-width: @screen-xs-max) {
    max-width: 463px;
  }
  h3 {
    font-size: 18px;
    margin-top: 0;
    @media (min-width: @screen-lg-min) {
      font-size: 26px;
    }
    &.company-about-primary-title {
      color: @brand-primary;
    }
    &.company-about-dark-title {
      color: #1d1d1b;
      background: rgba(255,255,255,0.7);
      border-radius: 50%;
      width: 56%;
      height: 84%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -28%;
      margin-top: -28%;
      text-align: center;
      padding: 21% 15px 0;
      @media (min-width: @screen-sm-min) {
        width: 68%;
        height: 100%;
        margin-left: -35%;
        margin-top: -33.5%;
      }
      @media (min-width: @screen-lg-min) {
        width: 62%;
        height: 88%;
        margin-left: -31%;
        margin-top: -29%;
      }
    }
    &.company-about-white-title {
      color: #fff;
      position: absolute;
      top: 30px;
      left: 35px;
      right: 35px;
    }
  }
  p {
    @media (min-width: @screen-lg-min) {
      font-size: 16px;
    }
  }
}
.company-about-img {
  position: relative;
  margin-bottom: 15px;
  img {
    .img-responsive;
  }
}
.company-about-large-list {
  .company-about-item {
    padding: 30px 15px 20px;
    @media (min-width: @screen-lg-min) {
      padding: 30px 40px 20px;
    }
  }
}
.company-about-small-list {
  .company-about-item {
    padding: 30px 15px 20px;
    @media (min-width: @screen-lg-min) {
      padding: 30px 30px 20px;
    }
  }
  .company-about-img {
    margin: -30px -15px 15px;
    @media (min-width: @screen-lg-min) {
      margin: -30px -30px 15px;
    }
  }
  > div:nth-of-type(1), > div:nth-of-type(2), > div:nth-of-type(3) {
    .company-about-item {
      @media (min-width: @screen-sm-min) {
        height: 415px;
      }
      @media (min-width: @screen-lg-min) {
        height: 427px;
      }
    }
  }
  > div:nth-of-type(4), > div:nth-of-type(5), > div:nth-of-type(6) {
    .company-about-item {
      @media (min-width: @screen-sm-min) {
        height: 324px;
      }
      @media (min-width: @screen-md-min) {
        height: 257px;
      }
    }
  }
}
.company-about-item-8 {
  background: url(../images/company-9.jpg) no-repeat top center / cover;
  height: 200px;
}
.company-about-item-3 {
  .company-about-img {
    @media (min-width: @screen-lg-min) {
      margin: -30px -40px -20px 0;
    }
  }
}
.services-item {
  background: #fff;
  padding: 30px 40px;
  text-align: center;
  margin-bottom: 15px;
  @media (min-width: @screen-sm-min) {
    height: 243px;
    padding: 25px 20px;
  }
  @media (min-width: @screen-lg-min) {
    height: auto;
    margin-bottom: 25px;
    .clearfix;
  }
  img {
    margin-bottom: 20px;
  }
}
.services-item-link {
  a {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    .border-link;
    @media (min-width: @screen-lg-min) {
      font-size: 36px;
    }
  }
}
.services-item-descr {
  font-size: 13px;
  @media (min-width: @screen-lg-min) {
    font-size: 16px;
  }
}
.service-1 img, .service-2 img, .service-3 img {
  height: 54px;
}
.service-4 img {
  height: 46px;
}
.service-5 img {
  height: 27px;
}
.services-slider {
  background: @brand-success;
  @media (min-width: @screen-sm-min) {
    height: 243px;
  }
  .carousel-inner {
    .item {
      color: #fff;
      padding: 0 38px;
    }
  }
  .carousel-control {
    width: 28px;
    opacity: 1;
  }
  .carousel-control.left {
    background: url(../images/prev.png) no-repeat left center;
    left: 10px;
  }
  .carousel-control.right {
    background: url(../images/next.png) no-repeat right center;
    right: 10px;
  }
  .item-container {
    display: table;
    width: 100%;
    height: 200px;
    @media (min-width: @screen-sm-min) {
      height: 243px;
    }
  }
}
.item-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  @media (min-width: @screen-sm-min) {
    font-size: 16px;
  }
}
.services-slider-title {
  font-size: 26px;
  font-weight: 700;
  @media (min-width: @screen-lg-min) {
    font-size: 36px;
  }
}
.service-1 {
  @media (min-width: @screen-lg-min) {
    height: 204px;
  }
  img {
    @media (min-width: @screen-lg-min) {
      float: left;
      width: 130px;
      height: 134px;
    }
  }
  .services-item-link {
    @media (min-width: @screen-lg-min) {
      margin-top: 15px;
    }
  }
}
.service-2 {
  @media (min-width: @screen-lg-min) {
    padding: 52px 20px;
    height: 444px;
  }
  img {
    @media (min-width: @screen-lg-min) {
      width: 82px;
      height: 132px;
    }
  }
}
.service-3, .service-4 {
  @media (min-width: @screen-lg-min) {
    height: 312px;
  }
}
.service-5 {
  @media (min-width: @screen-lg-min) {
    height: 147px;
  }
  img {
    @media (min-width: @screen-lg-min) {
      float: left;
      width: 129px;
      height: 59px;
      margin-top: 10px;
    }
  }
}
.service-1, .service-5 {
  @media (min-width: @screen-lg-min) {
    text-align: left;
  }
  img {
    @media (min-width: @screen-lg-min) {
      margin-right: 30px;
    }
  }
}
.services-list {
  background: #fff;
  position: relative;
  z-index: 2;
  top: -20px;
  @media (min-width: @screen-sm-min) {
    top: -65px;
  }
}
.consult {
  background: url(../images/bg-1.jpg) no-repeat center top / cover;
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 115px 0;
  }
  h2 {
    color: #fff;
    line-height: 1.3;
    margin-top: 0;
    @media (min-width: @screen-sm-min) {
      line-height: 1.1;
    }

    + p {
      color: #fff;
      margin-bottom: 30px;
      @media (min-width: @screen-lg-min) {
        font-size: 18px;
      }
    }
  }
  ul {
    .list-unstyled;
    margin: 20px 0;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 35px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 0;
    }
    li {
      color: #fff;
      text-indent: -15px;
      padding-left: 15px;
      line-height: 1.3;
      margin-bottom: 8px;
      @media (min-width: @screen-lg-min) {
        font-size: 16px;
      }
    &:before {
        color: #02cabf;
        content: "·";
        font-weight: 700;
        padding-right: 10px;
      }
    }
  }
  .help-block-container {
    @media (min-width: @screen-sm-min) {
      float: right;
    }
  }
  .help-block {
    color: #fffeff;
    @media (min-width: @screen-sm-min) {
      margin-top: 0;
    }
  }
}
.main-consult {
  form {
    @media (min-width: @screen-lg-min) {
      margin-top: 45px;
    }
  }
}
/*
.about-work {
  padding: 40px 0 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0 60px;
  }
  h2 {
    color: @brand-success;
    text-align: center;
    line-height: 1.2;
    margin-top: 0;
    @media (min-width: @screen-sm-min) {
      width: 720px;
      margin: 0 auto 20px;
    }
    @media (min-width: @screen-lg-min) {
      margin: 0 auto 30px;
    }
    + p {
      text-align: center;
      line-height: 2.0;
      @media (min-width: @screen-sm-min) {
        width: 450px;
        margin: 0 auto;
      }
      @media (min-width: @screen-lg-min) {
        font-size: 18px;
        width: 520px;
      }
    }
  }
}
.about-work-head {
  background-image: url(../images/bg-3.png);
  background-repeat: no-repeat;
  background-position: center 55px;
  background-size: auto 65%;
  padding-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    background-position: center top;
    background-size: auto 85%;
    padding-top: 10px;
    padding-bottom: 80px;
  }
  @media (min-width: @screen-lg-min) {
    padding-bottom: 120px;
    background-size: auto 78%;
  }
}
.about-work-list {
  img {
    .img-responsive;
  }
}
.about-work-item {
  padding-top: 20px;
}
.about-work-item-1 {
  margin: 0 0 20px;
  @media (min-width: @screen-sm-min) {
    margin: 0 -15px 20px;
  }
  @media (min-width: @screen-lg-min) {
    margin: 0 0 40px;
  }
  img {
    margin: 0 auto;
  }
}
.about-work-item-title {
  margin-top: 0;
}
.about-work-item-2, .about-work-item-3,
.about-work-item-5, .about-work-item-6, .about-work-item-7 {
  .about-work-item-title {
    color: @brand-success;
  }
}
.about-work-item-2, .about-work-item-3 {
  background-image: url(../images/work-6.png);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: 16% auto;
  padding-left: 25%;
  @media (min-width: @screen-sm-min) {
    padding-left: 12%;
    padding-bottom: 20px;
  }
  @media (min-width: @screen-lg-min) {
    padding-bottom: 40px;
  }
}
.about-work-item-4 {
  @media (min-width: @screen-sm-min) {
    padding-bottom: 30px;
  }
  @media (min-width: @screen-lg-min) {
    padding-bottom: 0;
  }
  h3, p {
    color: #fff;
  }
  img {
    @media (min-width: @screen-sm-min) {
      max-width: 335px;
    }
    @media (min-width: @screen-sm-min) {
      max-width: 415px;
    }
    @media (min-width: @screen-lg-min) {
      max-width: none;
    }
  }
}
.about-work-item-4-grad-bg {
  background: linear-gradient(transparent 70%, @brand-success 50%);
  margin: 0 -15px;
  padding: 0 15px;
  @media (min-width: @screen-sm-min) {
    background: none;
    float: left;
  }
}
.about-work-item-4-bg-wrap {
  background: @brand-success;
  margin: 0 -15px;
  padding: 30px 15px 50px;
  @media (min-width: @screen-sm-min) {
    margin: 35px 0 0 35%;
    padding: 45px 20px 35px 16%;
  }
  @media (min-width: @screen-lg-min) {
    margin-top: 50px;
    padding: 70px 70px 90px 16%;
  }
}
.about-work-item-5 {
  @media (min-width: @screen-sm-min) {
    padding-bottom: 30px;
  }
  @media (min-width: @screen-lg-min) {
    padding-top: 0;
  }
  h3 {
    @media (min-width: @screen-lg-min) {
      margin-top: 100px;
    }
  }
}
.about-work-item-6 {
  padding-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    padding-top: 30px;
  }
  @media (min-width: @screen-lg-min) {
    padding-top: 50px;
  }
  img {
    margin-bottom: 25px;
  }
}
.about-work-item-7 {
  background: #f3f3f3;
  padding-bottom: 30px;
  img {
    width: 35%;
    margin: 0 auto 25px;
    @media (min-width: @screen-sm-min) {
      width: 100%;
    }
  }
}
.about-terms {
  background: url(../images/bg-2.jpg) no-repeat center top / cover;
  padding: 70px 0 50px;
  @media (min-width: @screen-lg-min) {
    padding: 120px 0 150px;
  }
  h2 {
    color: #fff;
    text-align: center;
    line-height: 1.3;
    margin: 0 0 40px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 60px;
    }
  }
}
.about-terms-item {
  p {
    color: #c6c6c6;
    background-image: url(../images/work-6.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 55px auto;
    padding: 5px 0 5px 80px;
    @media (min-width: @screen-lg-min) {
      background-size: 78px auto;
      padding: 9px 0 9px 100px;
    }
    span {
      color: @brand-primary;
      font-size: 20px;
      font-weight: 700;
      @media (min-width: @screen-lg-min) {
        font-size: 26px;
      }
    }
  }
}
.about-terms-list {
  max-width: 640px;
  margin: 0 auto;
  @media (min-width: @screen-lg-min) {
    max-width: 760px;
  }
}
*/
.services-about {
  padding: 40px 0;
  position: relative;
  z-index: 100;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 200;
  }
  img {
    .img-responsive;
    margin-bottom: 20px;
  }
  h2 {
    @media (max-width: @screen-xs-max) {
      font-size: 22px;
    }
  }
  ul {
    .stylized-ul;
    margin-bottom: 30px;
    li {
      line-height: 1.4;
      margin-bottom: 8px;
      @media (min-width: @screen-lg-min) {
        font-size: 16px;
      }
    }
  }
  p {
    font-size: 14px;
  }
  .btn {
    white-space: normal;
    height: auto;
    padding: 17px 12px;
    min-width: 290px;
  }
}
.services-head {
  padding-left: 70px;
  @media (min-width: @screen-md-min) {
    margin-bottom: 30px;
  }
  h2 {
    margin: 0 0 5px;
  }
}
.treatment-subtitle {
  color: #12ceca;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  @media (min-width: @screen-lg-min) {
    font-size: 13px;
  }
}
.treatment {
  background: #f5f5f5;
  &:after {
    height: 47px;
    background: url(../images/light-grey-curve.png) no-repeat center top;
  }
  h2 {
    color: #0eaaa6;
  }
  .services-head {
    background: url(../images/serv-1-1.png) no-repeat left top;
    @media (min-width: @screen-md-min) {
      margin-left: 53%;
    }
  }
  img {
    @media (min-width: @screen-md-min) {
      float: left;
      width: 48%;
    }
  }
  .services-about-text {
    @media (min-width: @screen-md-min) {
      margin-left: 53%;
      width: 45%;
    }
  }
}
.hygiene {
  margin-top: 47px;
  &:after {
    height: 73px;
    background: url(../images/green-curve.png) no-repeat center top;
  }
  h2 {
    color: #0eaaa6;
  }
  .services-head {
    background: url(../images/serv-3-1.png) no-repeat left top;
  }
  img {
    @media (min-width: @screen-md-min) {
      float: right;
      width: 48%;
    }
  }
  .services-about-text {
    @media (min-width: @screen-md-min) {
      width: 48%;
    }
  }
}
.prosthetics {
  background: #0b7372;
  margin-top: 73px;
  &:after {
    height: 72px;
    background: url(../images/green-grey-curve.png) no-repeat center top;
  }
  h2 {
    color: #fff;
  }
  .services-head {
    background: url(../images/serv-6-1.png) no-repeat left top;
    @media (min-width: @screen-md-min) {
      margin-left: 55%;
    }
  }
  ul li, p {
    color: #fff;
  }
  img {
    @media (min-width: @screen-md-min) {
      float: left;
      width: 48%;
    }
  }
  .services-about-text {
    @media (min-width: @screen-md-min) {
      margin-left: 53%;
    }
  }
}
.esthetics {
  background: #383e4a;
  margin-top: 72px;
  &:after {
    height: 100px;
    background: url(../images/dark-grey-curve.png) no-repeat center top;
  }
  h2 {
    color: #fff;
  }
  .services-head {
    background: url(../images/serv-4-1.png) no-repeat left top;
    @media (min-width: @screen-md-min) {
      float: left;
      width: 52%;
    }
  }
  ul li, p {
    color: #fff;
  }
  img {
    @media (min-width: @screen-md-min) {
      float: right;
      width: 48%;
    }
  }
  .services-about-text {
    @media (min-width: @screen-md-min) {
      width: 52%;
    }
  }
}
.exodontia {
  margin-top: 100px;
  &:after {
    height: 93px;
    background: url(../images/white-grey-curve-1.png) no-repeat center top;
  }
  h2 {
    color: #0eaaa6;
  }
  .services-head {
    background: url(../images/serv-7-1.png) no-repeat left top;
    min-height: 66px;
    margin-bottom: 20px;
    @media (min-width: @screen-md-min) {
      margin-left: 55%;
    }
  }
  img {
    @media (min-width: @screen-md-min) {
      float: left;
      width: 48%;
      margin-top: -95px;
    }
  }
  .services-about-text {
    @media (min-width: @screen-md-min) {
      margin-left: 53%;
    }
  }
}
.implant {
  background: #f5f5f5;
  margin-top: 72px;
  @media (min-width: @screen-md-min) {
    padding-top: 120px;
  }
  &:after {
    height: 57px;
    background: url(../images/white-grey-curve-2.png) no-repeat center top;
  }
  h2 {
    color: #0eaaa6;
  }
  .services-head {
    background: url(../images/serv-8-1.png) no-repeat left top;
    @media (min-width: @screen-md-min) {
      float: left;
      width: 52%;
    }
  }
  img {
    @media (min-width: @screen-md-min) {
      float: right;
      width: 48%;
    }
  }
  .services-about-text {
    @media (min-width: @screen-md-min) {
      width: 52%;
    }
  }
}
.doctors {
  padding: 0 0 40px;
  margin-top: 100px;
  @media (min-width: @screen-lg-min) {
    padding: 40px 0 80px;
  }
  h2 {
    color: #1d1d1b;
    margin: 0 0 30px;
    text-align: center;
    @media (min-width: @screen-sm-min) {
      margin: 0 0 40px;
    }
  }
}
.doctors-item {
  margin-bottom: 40px;
  .btn {
    padding: 17px 30px;
    height: auto;
  }
}
.doctors-img {
  img {
    .img-responsive;
  }
}
.doctors-name {
  background: #f5f5f5;
  line-height: 1.4;
  padding: 15px 20px 18px;
  margin-bottom: 15px;
  max-width: 326px;
  font-size: 16px;
  font-weight: 700;
  color: @link-color;
  a {
    font-size: 16px;
    font-weight: 700;
    .border-link;
  }
}
.doctors-text {
  margin-bottom: 15px;
  @media (min-width: @screen-sm-min) {
    height: 168px;
  }
  @media (min-width: @screen-md-min) {
    height: 145px;
  }
  @media (min-width: @screen-lg-min) {
    height: 245px;
  }
}
.treatment-advantages {
  background: url(../images/bg-6.jpg) no-repeat center top / cover;
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 70px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 100px 0;
  }
  h2 {
    color: #fff;
    text-align: center;
    margin: 0 0 30px;
    @media (min-width: @screen-sm-min) {
      margin: 0 0 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin: 0 0 55px;
    }
  }
  ul {
    .list-unstyled;
    li {
      margin-bottom: 20px;
      @media (min-width: @screen-sm-min) {
        margin-bottom: 30px;
      }
      img {
        .img-responsive;
        margin-bottom: 15px;
        @media (min-width: @screen-lg-min) {
          margin-bottom: 20px;
        }
      }
      p {
        color: #fff;
        font-weight: 700;
        line-height: 1.4;
        background: url(../images/check.png) no-repeat left 6px;
        padding-left: 30px;
        margin-left: 20px;
        @media (min-width: @screen-sm-min) {
          margin-left: 0;
        }
        @media (min-width: @screen-lg-min) {
          font-size: 16px;
          margin-left: 40px;
        }
      }
    }
  }
}
.reviews {
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 70px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 100px 0;
  }
}
.video-reviews {
  padding: 0 0 40px;
  @media (min-width: @screen-sm-min) {
    padding: 0 0 70px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 0 0 100px;
  }
}
.reviews, .video-reviews {
  h2 {
    color: #1d1d1b;
    text-align: center;
    margin: 0 0 30px;
    @media (min-width: @screen-sm-min) {
      margin: 0 0 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin: 0 0 55px;
    }
  }
}
#reviews-carousel, #video-reviews-carousel {
  .carousel-cell {
    width: 100%;
  }
  .flickity-prev-next-button {
    &.previous {
      left: -15px;
    }
    &.next {
      right: -15px;
    }
  }
}
#video-reviews-carousel {
  .flickity-prev-next-button {
    @media (max-width: @screen-xs-max) {
      top: 65%;
    }
  }
}
.reviews-item {
  margin: 0 30px;
  @media (min-width: @screen-sm-min) {
    width: 80%;
    max-width: 752px;
    margin: 0 auto;
  }
}
.reviews-head {
  .clearfix;
  margin-bottom: 20px;
  img {
    border-radius: 50%;
    float: left;
    width: 50px;
    margin-right: 15px;
  }
}
.reviews-name {
  color: #1d1d1b;
  font-weight: 700;
  @media (min-width: @screen-lg-min) {
    font-size: 16px;
  }
}
.reviews-link {
  a {
    .border-link;
  }
}
.reviews-text {
  @media (min-width: @screen-lg-min) {
    line-height: 1.7;
  }
}
.reviews-video {
  @media (min-width: @screen-sm-min) {
    margin-top: 25px;
  }
}
.benefit {
  padding: 20px 0 40px;
  @media (min-width: @screen-sm-min) {
    padding: 50px 0 70px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0 110px;
  }
  h2 {
    color: #1d1d1b;
    text-align: center;
    margin: 0 0 15px;
  }
  h3 {
    color: #1d1d1b;
    font-size: 14px;
    text-align: center;
    margin: 0 0 30px;
    @media (min-width: @screen-sm-min) {
      margin: 0 0 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin: 0 0 55px;
    }
  }
  ol {
    .list-unstyled;
    counter-reset: num;
    margin-bottom: 20px;
    li {
      position: relative;
      padding-left: 65px;
      margin-bottom: 20px;
      @media (min-width: @screen-sm-min) {
        margin-bottom: 30px;
      }
      @media (min-width: @screen-lg-min) {
        padding-left: 75px;
      }
      &:before {
        content: counter(num) "";
        counter-increment: num;
        color: #fff;
        font-weight: 700;
        background: #14cecb;
        position: absolute;
        top: 0;
        left: 15px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        @media (min-width: @screen-lg-min) {
          font-size: 18px;
          width: 45px;
          height: 45px;
          line-height: 45px;
        }
      }
    }
  }
  .btn {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    height: auto;
    padding: 17px;
  }
}
.benefit-title {
  color: #0eaaa6;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  @media (min-width: @screen-sm-min) {
    font-size: 22px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 26px;
  }
}
.benefit-text {
  color: #1d1d1b;
}
.article-link {
  color: #1d1d1b;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  a {
    .border-link;
  }
}
.partners {
  background: #f3f3f3;
  padding: 40px 0 50px;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0 70px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0 100px;
  }
  h2 {
    color: #1d1d1b;
    text-align: center;
    margin: 0 0 30px;
    @media (min-width: @screen-sm-min) {
      margin: 0 0 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin: 0 0 55px;
    }
  }
}
.partners-list {
  text-align: center;
}
.partners-item {
  display: inline-block;
  width: 200px;
  margin: 0 5px 5px;
  img {
    .img-responsive;
  }
}
/*Main page end*/
                                                  /*Inner-pages*/
.inner-page {
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 55px 0;
  }
}
.inner-header-promo {
  padding-top: 20px;
  text-align: center;
  @media (min-width: @screen-sm-min) {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 100px 0 150px;
  }
  h1 {
    color: #fff;
    margin: 10px 0 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
  }
  .header-promo-icon {
    width: 32px;
    @media (min-width: @screen-sm-min) {
      display: block;
      width: 40px;
      margin: 0 auto;
    }
    @media (min-width: @screen-lg-min) {
      width: auto;
    }
  }
  p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 550px;
    @media (min-width: @screen-sm-min) {
      font-size: 16px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 18px;
      margin: 0 0 50px;
    }
  }
}
.inner-section {
  position: relative;
  z-index: 100;
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 200;
  }
}
.inner-section-title {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  @media (min-width: @screen-lg-min) {
    margin-bottom: 25px;
  }
}
.inner-services-item {
  background: #fff;
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 40px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 50px;
  }
}
.service-price {
  color: #1d1d1b;
  font-weight: 700;
}
.service-descr {
  color: #3c3c3b;
  font-size: 14px;
  margin-bottom: 0;
  @media (min-width: @screen-lg-min) {
    font-size: 15px;
  }
}
.inner-services-secondary-title {
  color: #1d1d1b;
   font-size: 20px;
   margin: 0 0 10px;
   @media (min-width: @screen-lg-min) {
     font-size: 26px;
     margin: 0 0 15px;
   }
 }
.inner-services-main-title {
  text-align: center;
  @media (min-width: @screen-md-min) {
    margin-bottom: 30px;
  }
}
.inner-services-item.inner-services-item-large {
  @media (min-width: @screen-sm-min) {
    padding: 60px 50px;
  }
  .inner-services-secondary-title, .service-price {
    text-align: center;
  }
  .inner-services-secondary-title {
    @media (min-width: @screen-sm-min) {
      font-size: 26px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 36px;
    }
  }
  .service-descr {
    @media (min-width: @screen-lg-min) {
      font-size: 16px;
    }
  }
  .service-price {
    @media (min-width: @screen-sm-min) {
      margin-bottom: 30px;
    }
  }
}
.advantages {
  background: url(../images/bg-5.jpg) no-repeat center / cover;
}
.advantages-item {
  margin-bottom: 15px;
  @media (min-width: @screen-md-min) {
    margin-bottom: 35px;
  }
  @media (min-width: @screen-lg-min) {
    padding-right: 80px;
  }
  img {
    width: 57px;
    @media (min-width: @screen-lg-min) {
      width: 98px;
    }
  }
}
.advantages-title {
  color: @brand-success;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 5px;
  @media (min-width: @screen-lg-min) {
    font-size: 28px;
  }
}
.advantages-descr {
  @media (min-width: @screen-lg-min) {
    line-height: 1.8;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.ask-question {
  form {
    background: #fff;
    margin: 0 -15px;
    padding: 20px 15px;
    @media (min-width: @screen-sm-min) {
      padding: 40px 35px;
      max-width: 600px;
    }
  }
}
.question-btn {
  text-align: center;
  .btn {
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 35px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 50px;
    }
  }
}
.price-list-group {
  margin-bottom: 30px;
  h3 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
  }
  .price-list-row {
    .clearfix;
    &:nth-of-type(odd) {
      background: #f4f8f9;
    }
    > div:nth-of-type(odd) {
      color: #575756;
      font-weight: 400;
      padding: 15px 15px 2px;
      @media (min-width: @screen-sm-min) {
        padding: 15px;
      }
    }
    > div:nth-of-type(even) {
      padding: 2px 15px 15px;
      @media (min-width: @screen-sm-min) {
        padding: 15px;
      }
    }
  }
  .price-col {
    color: #000;
    font-weight: 700;
  }
  h3 + .price-col {
    @media (min-width: @screen-sm-min) {
      padding-left: 7px;
    }
  }
  .price-no-padding {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  .price-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.inner-section-est {
  padding-top:60px;
  padding-bottom:50px;
}
.breadcrumb {
  li {
    a {
      color: #9d9d9c;
      border-bottom: 1px solid lighten(#9d9d9c, 20%);
    }
  }
}
.pagination {
  li {
    a {
      span {
        border-bottom: 1px solid lighten(@text-color, 40%);
      }
    }
  }
}
/*Inner pages end*/
                                                /*Dental-treatment page*/
.dental-services {
  padding: 30px 25px;
  @media (min-width: @screen-sm-min) {
    padding: 40px 35px 10px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 55px 40px 15px;
  }
  .inner-services-item {
    @media (min-width: @screen-sm-min) {
      //height: 256px;
    }
    @media (min-width: @screen-md-min) {
      //height: 213px;
    }
  }
}
.inner-section-preamble {
  color: #0eaaa6;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.inner-section {
  ul {
    .stylized-ul;
    li {
      margin-bottom: 10px;
    }
  }
  img {
    .img-responsive;
    margin: 0 auto 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 35px;
    }
  }
}
.cofferdam {
  padding: 40px 0 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0 10px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0 20px;
  }
  &:after {
    height: 93px;
    background: url(../images/white-grey-curve-1.png) no-repeat center top;
  }
  .inner-section-title {
    color: @brand-success;
    text-align: center;
  }
  .cofferdam-preamble {
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
    max-width: 740px;
    margin: 0 auto 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 16px;
      margin-bottom: 60px;
      max-width: 840px;
    }
  }
  ol {
    padding-left: 15px;
    li {
      font-size: 14px;
      margin-bottom: 15px;
      @media (min-width: @screen-lg-min) {
        font-size: 15px;
        padding-right: 30px;
      }
      span {
        font-weight: 700;
      }
    }
  }
}
.s-icon {
  margin-top: 93px;
  background: #f5f5f5;
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  &:after {
    height: 57px;
    background: url(../images/white-grey-curve-2.png) no-repeat center top;
  }
  .inner-section-title {
    color: @brand-success;
    text-align: center;
  }
  img {
    .img-responsive;
    margin: 0 auto 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 35px;
    }
  }
}
.s-icon-preamble {
  text-align: center;
  line-height: 1.8;
  max-width: 640px;
  margin: 0 auto 20px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 40px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 18px;
    margin-bottom: 60px;
    max-width: 740px;
  }
}
.caries {
  margin-top: 57px;
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  &:after {
    height: 49px;
    background: url(../images/white-grey-curve-3.png) no-repeat center top;
  }
}
.pulpitis {
  margin-top: 49px;
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  &:after {
    height: 73px;
    background: url(../images/white-grey-curve-4.png) no-repeat center top;
  }
  ul {
    margin-bottom: 25px;
  }
  p {
    span {
      font-weight: 700;
    }
  }
}
.skyce {
  margin-top: 73px;
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0 50px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 100px 0 70px;
  }
  &:after {
    height: 49px;
    background: url(../images/white-grey-curve-3.png) no-repeat center top;
  }
}
.whitening {
  margin-top: 49px;
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  p {
    span {
      font-weight: 700;
    }
  }
}
/*
.faq {
  background: #f3f3f3;
  .panel {
    margin: 0 -15px 15px;
    padding: 0 5px;
  }
  .panel-title {
    font-size: 20px;
    font-weight: 400;
    padding-right: 25px;
  }
  .panel-heading {
    position: relative;
    i {
      position: absolute;
      top: 25px;
      right: 20px;
    }
  }
  .panel-group {
    @media (min-width: @screen-sm-min) {
      margin-bottom: 35px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 50px;
    }
  }
}
*/
/*Dental-treatment page end*/
                                                  /*Contact-page*/
.contact-page {
  padding: 10px 0 150px;
  @media (min-width: @screen-lg-min) {
    padding: 45px 0 150px;
  }
}
.contact-item {
  margin-bottom: 10px;
  @media (min-width: @screen-sm-min) {
    margin: 15px 0 25px;
  }
  @media (min-width: @screen-lg-min) {
    margin: 25px 0 35px;
  }
  > p {
    max-width: 240px;
  }
  a {
    color: @text-color;
  }
}
.contact-title {
  font-weight: 700;
}
.contacts-message-form {
  h2 {
    font-size: 26px;
  }
  form {
    max-width: 720px;
    .btn {
      .btn-block;
      @media (min-width: 640px) {
        .btn-resronsive;
      }
      @media (min-width: @screen-lg-min) {
        max-width: none;
        .btn-block;
      }
    }
  }
  @media (min-width: @screen-lg-min) {
    padding-top: 142px;
  }
}
/*Contact page end*/
                                                  /*Dental hygiene page*/
.periodontal {
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  &:after {
    height: 49px;
    background: url(../images/white-grey-curve-3.png) no-repeat center top;
  }
  .inner-section-title {
    color: @brand-success;
  }
  ul {
    margin-bottom: 25px;
  }
  p {
    span {
      font-weight: 700;
    }
  }
  img {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      margin-left: 0;
      margin-left: 0;
    }
  }
}
.splinting {
  margin-top: 49px;
  padding: 40px 0 10px;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0 20px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0 40px;
  }
  &:after {
    height: 73px;
    background: url(../images/white-grey-curve-4.png) no-repeat center top;
  }
  .inner-section-title {
    color: @brand-success;
  }
  img {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      margin-left: 0;
      margin-left: 0;
    }
  }
}
.prof-hygiene {
  margin-top: 73px;
  padding: 50px 0 40px;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  .inner-section-title {
    color: @brand-success;
  }
  img {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      margin-left: 0;
      margin-left: 0;
    }
  }
  .price-download {
    padding: 40px 0;
    @media (min-width: @screen-sm-min) {
      padding: 60px 0 40px;
    }
    @media (min-width: @screen-lg-min) {
      padding: 120px 0 40px;
    }
    p {
      color: #1d1d1b;
      text-align: center;
      span {
        font-weight: 700;
      }
    }
    .btn {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      height: 54px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
/*
.hygiene-services {
  .services-slider, .services-slider .item-container {
    @media (min-width: @screen-sm-min) {
      height: 200px;
    }
    @media (min-width: @screen-lg-min) {
      height: 248px;
    }
  }
  .inner-services-item-container:nth-of-type(1) {
    .service-descr {
      @media (min-width: @screen-lg-min) {
        font-size: 18px;
      }
    }
  }
  .inner-services-item-container:nth-of-type(2),
  .inner-services-item-container:nth-of-type(3) {
    .inner-services-item {
      @media (min-width: @screen-lg-min) {
        height: 248px;
      }
    }
  }
}
.prof-hygiene-list {
  margin-top: 20px;
  ul {
    .list-unstyled;
  }
  p {
    font-size: 14px;
    @media (min-width: @screen-lg-min) {
      font-size: 16px;
    }
  }
  > p {
    @media (min-width: @screen-lg-min) {
      font-size: 18px;
    }
  }
}
.prof-hygiene-title {
  color: #000;
  font-weight: 700;
}
*/
/*Dental hygiene page end*/
                                                  /*Esthetic page*/
.esthetic-services {
  .inner-services-item-container:nth-of-type(2),
  .inner-services-item-container:nth-of-type(3),
  .inner-services-item-container:nth-of-type(4),
  .inner-services-item-container:nth-of-type(5) {
    .inner-services-item {
      @media (min-width: @screen-sm-min) {
        height: 213px;
      }
    }
  }
  .services-slider, .services-slider .item-container {
    @media (min-width: @screen-sm-min) {
      height: 213px;
    }
    @media (min-width: @screen-lg-min) {
      height: 213px;
    }
  }
}
.esthetic-list {
  img {
    @media (max-width: @screen-xs-max) {
      .img-responsive;
    }
    @media (min-width: @screen-sm-min) {
      float: right;
      width: 45%;
      margin-left: 15px;
    }
  }
  b {
    color: @gray-dark;
  }
  .service-descr {
    margin-bottom: 15px;
  }
}
/*Esthetic page end*/
                                                  /*Dental prosthetics page*/
header.prosthetics-header {
  .header-promo {
    background: url(../images/pr-bg-1.jpg) no-repeat center top / cover;
    padding: 10px 0 20px;
    @media (min-width: @screen-sm-min) {
      padding: 30px 0;
    }
    @media (min-width: @screen-lg-min) {
      padding: 50px 0 40px;
    }
    h1 {
      color: #fff;
      margin-bottom: 20px;
      @media (min-width: @screen-sm-min) {
        margin-bottom: 40px;
      }
      @media (min-width: @screen-lg-min) {
        margin-bottom: 70px;
      }
    }
    .header-promo-text {
      margin-bottom: 30px;
      @media (min-width: @screen-sm-min) {
        margin-top: 80px;
      }
      @media (min-width: @screen-lg-min) {
        margin-top: 95px;
        max-width: 510px;
      }
      p {
        color: #fff;
        @media (min-width: @screen-lg-min) {
          font-size: 17px;
        }
      }
    }
    form {
      .header-form-preamble {
        line-height: 1.3;
        margin-bottom: 20px;
        span {
          font-size: 17px;
          font-weight: 700;
          @media (min-width: @screen-lg-min) {
            font-size: 22px;
          }
        }
        @media (min-width: @screen-lg-min) {
          font-size: 20px;
          margin-bottom: 30px;
        }
      }
      .header-form-discount {
        margin-top: 20px;
        @media (min-width: @screen-lg-min) {
          font-size: 20px;
          margin-top: 30px;
        }
      }
      .btn {
        padding: 10px 30px;
        margin-bottom: 0;
      }
    }
  }
}
.white-header-form {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  @media (min-width: @screen-lg-min) {
    padding: 20px 40px 10px;
  }
  form {
    .form-control {
      background: #fff;
      border-color: #a1a4a9;
    }
  }
}
.form-bottom {
  @media (min-width: @screen-lg-min) {
    .clearfix;
  }
  .btn {
    @media (min-width: @screen-lg-min) {
      float: left;
      width: 140px;
    }
  }
  .checkbox {
    @media (min-width: @screen-lg-min) {
      margin-left: 160px;
      margin-top: 0;
    }
    label {
      font-size: 12px;
      line-height: 1.2;
      a {
        color: @text-color;
        border-bottom: 1px solid rgba(56,63,74,0.5);
      }
    }
  }
}
.about-prosthetics {
  padding: 30px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 90px 0;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-lg-min) {
      max-width: 900px;
      margin-bottom: 80px;
    }
  }
  img {
    .img-responsive;
  }
  ul {
    .stylized-ul;
    li {
      margin-bottom: 15px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 25px;
      }
    }
  }
  .btn {
    width: 100%;
    @media (min-width: @screen-sm-min) {
      max-width: 264px;
    }
  }
}
.about-prosthetics-row-1 {
  margin-bottom: 50px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 70px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 100px;
  }
  img {
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 35px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 65px;
    }
  }
  p {
    @media (min-width: @screen-lg-min) {
      max-width: 400px;
      margin-bottom: 30px;
    }
  }
}
.up-text {
  font-size: 15px;
  text-transform: uppercase;
  @media (min-width: @screen-lg-min) {
    font-size: 17px;
  }
}
.about-prosthetics-row-2 {
  h3 {
    color: #0eaaa6;
    .up-text;
    margin-top: 0;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 40px;
    }
  }
  img {
    margin-bottom: 30px;
  }
  ul {
    margin-bottom: 35px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 40px;
    }
  }
  p {
    @media (min-width: @screen-lg-min) {
      max-width: 558px;
    }
  }
}
.veneers-about {
  padding: 10px 0 50px;
  @media (min-width: @screen-sm-min) {
    padding: 20px 0 50px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 30px 0 90px;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 80px;
    }
  }
  img {
    .img-responsive;
    margin-bottom: 30px;
  }
  p {
    font-weight: 700;
    &.up-text {
      color: #0eaaa6;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 55px;
      }
    }
  }
  ul {
    .stylized-ul;
    margin-bottom: 30px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 60px;
    }
    li {
      margin-bottom: 15px;
    }
  }
  .container {
    position: relative;
  }
}
.veneers-prosthetics-price {
  @media (min-width: @screen-sm-min) {
    position: absolute;
    bottom: 90px;
    left: 15px;
  }
  @media (min-width: @screen-lg-min) {
    bottom: 30px;
  }
  p {
    max-width: 290px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 30px;
    }
  }
  .btn {
    width: 100%;
    max-width: 312px;
  }
}
.veneers-advantages {
  background: url(../images/pr-bg-2.jpg) no-repeat center top / cover;
  padding: 50px 0;
  @media (min-width: @screen-sm-min) {
    padding: 70px 0 50px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 110px 0;
  }
  h3 {
    color: #fff;
    .up-text;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 30px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 45px;
    }
  }
  ul {
    .stylized-ul;
    max-width: 720px;
    li {
      color: #fff;
      margin-bottom: 15px;
    }
    &.veneers-list-left {
      li {
        @media (min-width: @screen-lg-min) {
          margin-bottom: 30px;
        }
      }
    }
  }
}
.metal-ceramic-prosthetics {
  padding: 50px 0;
  @media (min-width: @screen-sm-min) {
    padding: 70px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 90px 0;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 50px;
    }
  }
  img {
    .img-responsive;
    margin-bottom: 20px;
  }
  p {
    @media (min-width: @screen-lg-min) {
      max-width: 500px;
    }
  }
}
.metal-ceramic-prosthetics-bottom {
  margin-top: 30px;
  @media (min-width: @screen-lg-min) {
    margin-top: 35px;
  }
  p {
    @media (min-width: @screen-lg-min) {
      margin-bottom: 30px;
    }
  }
  .btn {
    width: 100%;
    max-width: 290px;
  }
}
.zircon-prosthetics {
  padding: 10px 0 50px;
  @media (min-width: @screen-sm-min) {
    padding: 20px 0 70px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 30px 0 90px;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 70px;
    }
  }
  img {
    .img-responsive;
    margin-bottom: 30px;
  }
  h3 {
    color: #0eaaa6;
    .up-text;
    margin-top: 0;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 25px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 35px;
    }
  }
  ul {
    .stylized-ul;
    margin-bottom: 30px;
    li {
      margin-bottom: 15px;
    }
  }
  .blue-border-form {
    @media (min-width: @screen-lg-min) {
      margin-top: -105px;
      margin-left: 10px;
    }
  }
}
.zircon-prosthetics-row-1 {
  margin-bottom: 10px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 30px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 60px;
  }
}
.blue-border-form {
  border: 2px solid #0eaaa6;
  padding: 30px;
  @media (min-width: @screen-lg-min) {
    padding: 35px 40px;
  }
  form {
    .form-control {
      background: #fff;
      border-color: #0eaaa6;
    }
    .form-bottom {
      margin-top: 25px;
      .btn {
        width: 100%;
        max-width: 320px;
        @media (min-width: @screen-lg-min) {
          width: 140px;
          max-width: none;
        }
      }
    }
  }
}
.zircon-form-preamble {
  color: #0eaaa6;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  margin-bottom: 25px;
  span {
    font-size: 16px;
    line-height: 0.7;
    text-transform: uppercase;
    @media (min-width: @screen-lg-min) {
      font-size: 18px;
    }
  }
}
.prosthetics-difference {
  background: url(../images/pr-bg-3.jpg) no-repeat center top / cover;
  padding: 50px 0;
  @media (min-width: @screen-sm-min) {
    padding: 70px 0 55px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0 60px;
  }
  h2 {
    color: #fff;
    max-width: 520px;
    margin-bottom: 30px;
    @media (min-width: @screen-lg-min) {
      max-width: 680px;
    }
  }
  p {
    color: #fff;
    max-width: 680px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 20px;
    }
  }
}
.remobable-prosthetics {
  padding: 50px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 90px 0 70px;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
  }
  .blue-border-form {
    @media (min-width: @screen-lg-min) {
      margin-top: -40px;
    }
  }
}
.remobable-prosthetics-text {
  margin-bottom: 30px;
}
/*Dental prosthetics page end*/
                                                      /*Dental gums page*/
.advantages-quote {
  color: @brand-success;
  font-size: 18px;
  text-align: center;
  max-width: 640px;
  @media (min-width: @screen-sm-min) {
    text-align: left;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 24px;
    max-width: 800px;
  }
}
.gums-services {
  .inner-services-item, .services-slider, .services-slider .item-container {
    @media (min-width: @screen-sm-min) {
      height: 235px;
    }
    @media (min-width: @screen-md-min) {
      height: 192px;
    }
    @media (min-width: @screen-lg-min) {
      height: 227px;
    }
  }
}
/*Dental gums page end*/
                                                        /*Action list page*/
.action-list {
  margin-bottom: 60px;
  > div {
    display: table;
    margin-bottom: 25px;
    &:nth-of-type(odd) {
      .action-item {
        background: @brand-success;
      }
    }
    &:nth-of-type(even) {
      .action-item {
        background: @brand-primary;
      }
    }
  }
}
.action-item {
  padding: 20px;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  @media (min-width: @screen-sm-min) {
    height: 253px;
  }
  .action-item-link {
    @media (min-width: @screen-sm-min) {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
    }
    a {
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 1px solid rgba(255,255,255,0.5);
    }
  }
}
.text-yellow {
  color: #fff992;
}
.text-space {
  letter-spacing: 1px;
}
.action-item-name {
  color: #fff;
  font-weight: 900;
  line-height: 1.1;
  .action-text-large {
    font-size: 56px;
  }
}
.action-1 {
  .action-item-name {
    font-size: 38px;
    border: 1px solid rgba(255,249,146,0.3);
    padding: 10px 20px;
    display: inline-block;
  }
}
.action-2 {
  .action-item-name {
    font-size: 56px;
    margin-bottom: 0;
  }
  p:nth-of-type(3) {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
  }
}
.line-text {
  &:before, &:after {
    content: "";
    position: relative;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    background: none repeat scroll 0% 0% padding-box content-box;
    background-color: #66ccff;
    width: 22%;
  }
  &:before {
    left: -0.2em;
    margin: 0px 0px 0px -50%;
  }
  &:after {
    left: 0.2em;
    margin: 0px -50% 0px 0px;
  }
}
/*Action list page end*/
                                                      /*Action item page*/
.inner-action-item-btn {
  margin: 40px 0 200px;
}
/*Action item page end*/
                                                      /*Blog page*/
.blog-item {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &:last-child {
    border-bottom: none;
  }
  @media (min-width: @screen-sm-min) {
    padding: 10px 0 40px;
    margin-bottom: 40px;
  }
}
.blog-img {
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    float: right;
  }
  img {
    .img-responsive;
  }
}
.blog-date {
  font-weight: 700;
}
.blog-info {
  h2 {
    margin-top: 10px;
  }
  .blog-text {
    color: #706f6f;
  }
  .blog-link-more {
    a {
      .border-link;
    }
  }
}
/*Blog page end*/
                                                      /*Blog inner page*/
.blog-inner {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 40px;
  }
  .blog-date {
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
  }
  img {
    margin: 0 0 20px 0;
    @media (max-width: @screen-sm-max) {
      .img-responsive;
    }
    @media (min-width: @screen-md-min) {
      float: right;
      margin: 0 0 20px 20px;
    }
  }
}
.blog-share {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 40px;
  }
}
/*Blog inner page end*/

.alert-block {
  text-align:center;
  font-size:22px;
  font-weight:bold;
  background-color: #c60614;
  color:#fff;
  padding:20px;
}
                                                          /*Exodontia page*/
header.exodontia-header {
  .header-promo {
    background: url(../images/ex-bg.jpg) no-repeat center top / cover;
    padding: 10px 0 20px;
    @media (min-width: @screen-sm-min) {
      padding: 30px 0;
    }
    @media (min-width: @screen-lg-min) {
      padding: 35px 0 30px;
    }
    h1 {
      color: #fff;
      margin-bottom: 20px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 60px;
      }
    }
    .header-promo-text {
      margin-bottom: 30px;
      @media (min-width: @screen-lg-min) {
        max-width: 500px;
      }
      p {
        color: #fff;
        @media (min-width: @screen-lg-min) {
          font-size: 17px;
        }
      }
    }
    .white-header-form {
      @media (min-width: @screen-sm-min) {
        margin-top: 50px;
      }
      @media (min-width: @screen-lg-min) {
        padding: 30px 40px 20px;
      }
    }
    form {
      .header-form-preamble {
        line-height: 1.3;
        margin-bottom: 20px;
        span {
          font-size: 17px;
          font-weight: 700;
          @media (min-width: @screen-lg-min) {
            font-size: 22px;
          }
        }
        @media (min-width: @screen-lg-min) {
          font-size: 20px;
          margin-bottom: 30px;
        }
      }
      .header-form-discount {
        margin-top: 20px;
        @media (min-width: @screen-lg-min) {
          font-size: 20px;
          margin-top: 30px;
        }
      }
      .btn {
        padding: 10px 30px;
        margin-bottom: 0;
      }
    }
  }
}
.about-exodontia {
  padding: 35px 0 40px;
  @media (min-width: @screen-sm-min) {
    padding: 50px 0 75px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 90px 0 100px;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 25px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 70px;
    }
  }
}
.about-exodontia-row-1 {
  img {
    .img-responsive;
    margin-bottom: 20px;
  }
  ul {
    .stylized-ul;
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 100px;
    }
    li {
      margin-bottom: 15px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 20px;
      }
    }
  }
}
.about-exodontia-row-2 {
  h3 {
    color: #0eaaa6;
    .up-text;
    @media (min-width: @screen-lg-min) {
      margin: 0 0 40px;
    }
  }
  p {
    @media (min-width: @screen-lg-min) {
      max-width: 460px;
      margin-bottom: 22px;
    }
  }
}
.anesthesia {
  background: url(../images/ex-bg-2.jpg) no-repeat center top / cover;
  padding: 50px 0;
  @media (min-width: @screen-sm-min) {
    padding: 70px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 90px 0;
  }
  h2 {
    color: #fff;
    max-width: 600px;
    margin-bottom: 30px;
    @media (min-width: @screen-lg-min) {
      max-width: 720px;
    }
  }
  p {
    color: #fff;
    max-width: 635px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 20px;
    }
    span {
      font-weight: 700;
      @media (min-width: @screen-lg-min) {
        font-size: 17px;
      }
    }
  }
}
.wisdom-tooth {
  padding: 30px 0;
  @media (min-width: @screen-sm-min) {
    padding: 60px 0 40px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0 50px;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
      max-width: 480px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 60px;
      max-width: 620px;
    }
  }
  .blue-border-form {
    margin-top: 15px;
    @media (min-width: @screen-sm-min) {
      margin-top: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-top: 55px;
    }
  }
}
.wisdom-tooth-row-1 {
  margin-bottom: 40px;
  @media (min-width: @screen-lg-min) {
    margin-bottom: 55px;
  }
  p {
    margin-bottom: 20px;
    @media (min-width: @screen-lg-min) {
      max-width: 545px;
    }
  }
}
.wisdom-tooth-row-2 {
  img {
    .img-responsive;
    margin-bottom: 35px;
    @media (min-width: @screen-sm-min) {
      margin-top: 40px;
    }
    @media (min-width: @screen-lg-min) {
      margin-top: 80px;
    }
  }
  h3 {
    color: #0eaaa6;
    .up-text;
    margin: 0 0 25px;
    @media (min-width: @screen-lg-min) {
      margin: 0 0 45px;
    }
  }
}
.wisdom-tooth-2-group {
  h4 {
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 15px;
    @media (min-width: @screen-lg-min) {
      margin: 0 0 25px;
    }
  }
  ul {
    .stylized-ul;
    margin-bottom: 25px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 45px;
    }
    li {
      margin-bottom: 15px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 25px;
      }
    }
  }
}
.exodontia-recommend {
  padding: 0 0 30px;
  @media (min-width: @screen-sm-min) {
    padding: 0 0 60px;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 30px;
    max-width: 600px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 50px;
      max-width: 800px;
    }
  }
  p {
    margin-bottom: 20px;
    @media (min-width: @screen-lg-min) {
      margin-bottom: 30px;
      max-width: 910px;
    }
    span {
      font-weight: 700;
    }
  }
  ul {
    .stylized-ul;
    @media (min-width: @screen-lg-min) {
      max-width: 935px;
    }
    li {
      margin-bottom: 15px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 25px;
      }
    }
  }
}
.exodontia-order-form {
  background: url(../images/ex-bg-3.jpg) no-repeat center top / cover;
  padding: 50px 0 30px;
  @media (min-width: @screen-sm-min) {
    padding: 80px 0 50px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 85px 0 70px;
  }
  .white-header-form {
    max-width: 475px;
    @media (min-width: @screen-lg-min) {
      padding: 35px 40px 45px;
    }
    .header-form-preamble {
      color: #0eaaa6;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}
/*Exodontia page end*/
                                                  /*About clinic page*/
header.clinic-header {
  .header-promo {
    background: url(../images/clinic-bg.jpg) no-repeat left top / cover;
    padding: 10px 0 20px;
    @media (min-width: @screen-sm-min) {
      background-position: center top;
      padding: 20px 0 50px;
    }
    @media (min-width: @screen-lg-min) {
      padding: 35px 0 70px;
    }
    h1 {
      color: #fff;
      margin-bottom: 20px;
      @media (min-width: @screen-sm-min) {
        margin-bottom: 30px;
      }
      @media (min-width: @screen-lg-min) {
        margin-bottom: 50px;
      }
    }
    .header-promo-text {
      margin-bottom: 30px;
      @media (min-width: @screen-sm-min) {
        max-width: 460px;
      }
      @media (min-width: @screen-lg-min) {
        max-width: 510px;
      }
      p {
        color: #fff;
        @media (min-width: @screen-lg-min) {
          font-size: 17px;
        }
      }
    }
  }
}
.mission {
  padding: 40px 0 50px;
  @media (min-width: @screen-sm-min) {
    padding: 55px 0 75px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 30px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 50px;
    }
  }
  ul {
    .stylized-ul;
    li {
      margin-bottom: 15px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 25px;
      }
    }
  }
  .blue-border-form {
    @media (min-width: @screen-lg-min) {
      margin-top: 15px;
    }
  }
}
.mission-main-list {
  margin-bottom: 35px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 55px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 60px;
  }
  ul {
    li {
      font-weight: 700;
    }
  }
}
.mission-detail-list {
  margin-bottom: 30px;
  @media (min-width: @screen-lg-min) {
    max-width: 475px;
  }
  h3 {
    color: #0eaaa6;
    .up-text;
    margin: 0 0 20px;
    @media (min-width: @screen-sm-min) {
      margin: 0 0 30px;
    }
    @media (min-width: @screen-lg-min) {
      margin: 0 0 35px;
    }
  }
}
.license {
  background: #f5f5f5;
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 55px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 80px 0;
  }
  h3 {
    color: #0eaaa6;
    .up-text;
    margin: 0 0 20px;
    @media (min-width: @screen-sm-min) {
      margin: 0 0 30px;
    }
    @media (min-width: @screen-lg-min) {
      margin: 50px 0 30px;
    }
  }
}
.license-text {
  margin-bottom: 30px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 45px;
  }
  p {
    @media (min-width: @screen-lg-min) {
      margin-bottom: 25px;
    }
  }
}
.license-img {
  img {
    .img-responsive;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      float: left;
      width: 265px;
      margin-right: 25px;
    }
  }
}
.equipment {
  padding: 40px 0;
  @media (min-width: @screen-sm-min) {
    padding: 55px 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: 90px 0;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 25px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 35px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 50px;
    }
  }
  ol {
    padding-left: 20px;
    > li {
      font-weight: 700;
      position: relative;
      ul {
        .stylized-ul;
        padding-left: 0;
        margin: 15px 0 25px -15px;
        @media (min-width: @screen-sm-min) {
          margin: 15px 0 40px -15px;
        }
        @media (min-width: @screen-lg-min) {
          margin: 25px 0 45px -15px;
        }
        li {
          font-weight: 400;
          margin-bottom: 15px;
          @media (min-width: @screen-lg-min) {
            margin-bottom: 25px;
          }
        }
      }
      &:nth-of-type(1), &:nth-of-type(2),
      &:nth-of-type(4), &:nth-of-type(5) {
        p, ul {
          @media (min-width: @screen-sm-min) {
            width: 48%;
          }
        }
      }
      &:nth-of-type(3) {
        @media (min-width: @screen-sm-min) {
          margin-left: 54%;
        }
      }
      &:nth-of-type(2), &:nth-of-type(3) {
        @media (min-width: @screen-lg-min) {
          margin-bottom: 80px;
        }
      }
      img {
        .img-responsive;
        margin: 0 0 25px -15px;
        @media (min-width: @screen-sm-min) {
          position: absolute;
        }
        @media (min-width: @screen-lg-min) {
          width: auto;
        }
        &.clinic-img-1 {
          @media (min-width: @screen-sm-min) {
            position: absolute;
            top: 0;
            right: 0;
            width: 46%;
          }
        }
        &.clinic-img-2 {
          @media (min-width: @screen-sm-min) {
            position: absolute;
            top: 0;
            right: 100%;
            width: 100%;
            margin-right: 75px;
          }
          @media (min-width: @screen-lg-min) {
            margin-right: 115px;
          }
        }
        &.clinic-img-3 {
          @media (min-width: @screen-sm-min) {
            position: absolute;
            top: 0;
            right: 0;
            width: 46%;
          }
        }
      }
    }
  }
}
.personal {
  @media (min-width: @screen-sm-min) {
    padding: 0 0 30px;
  }
  @media (min-width: @screen-lg-min) {
    padding: 0 0 50px;
  }
  h2 {
    color: #0eaaa6;
    margin-bottom: 35px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 45px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 60px;
    }
  }
}
.personal-item {
  margin-bottom: 40px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 60px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 80px;
  }
}
.personal-main-info {
  margin-bottom: 10px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 18px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 22px;
  }
}
.personal-img {
  margin-bottom: 20px;
  img {
    .img-responsive;
    @media (min-width: @screen-lg-min) {
      width: 262px;
      margin-top: 10px;
    }
  }
}
.personal-name {
  color: #0eaaa6;
  font-weight: 700;
  .up-text;
  margin-bottom: 8px;
}
.personal-status {
  font-weight: 700;
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 30px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 40px;
  }
}
.personal-text {
  p {
    @media (min-width: @screen-lg-min) {
      margin-bottom: 25px;
    }
  }
}
.personal-add-info {
  max-width: 650px;
}
.personal-add-info-title {
  font-weight: 700;
  margin-bottom: 15px;
  @media (min-width: @screen-lg-min) {
    margin-bottom: 25px;
  }
}
.personal-add-info-group {
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 25px;
  }
  @media (min-width: @screen-lg-min) {
    margin-bottom: 35px;
  }
  ul {
    .stylized-ul;
    li {
      margin-bottom: 15px;
      @media (min-width: @screen-lg-min) {
        margin-bottom: 25px;
      }
    }
  }
}
.small-personal-item {
  max-width: 262px;
  margin-bottom: 30px;
  text-align: center;
}
.small-personal-name {
  color: #0eaaa6;
  font-weight: 700;
  margin-bottom: 10px;
  @media (min-width: @screen-sm-min) {
    height: 42px;
  }
}
.brand-history {
  h2 {
    color: #0eaaa6;
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 35px;
    }
    @media (min-width: @screen-lg-min) {
      margin-bottom: 40px;
    }
  }
}
.interview {
  margin-bottom: 10px;
  .interview-row {
    margin-bottom: 30px;
    .question {
      margin-bottom: 15px;
    }
    .interview-author {
      font-weight: 700;
    }
  }
}
.interview-link-more {
  a {
    .border-link;
    border-bottom-style: dashed;
  }
}
.answer {
  p {
    margin-left:25px;
    font-style: italic;
  }
}

/*About clinic page end*/

.no-border {
  border-bottom: none;
}
.border-link(@border-color: rgba(11,93,168,0.5), @border-hover-color: rgba(11,93,168,0.75)) {
  border-bottom: 1px solid @border-color;
  &:hover, &:focus, &:active {
    border-bottom: 1px solid @border-hover-color;
  }
}

.docs-container {
  @media (min-width: @screen-sm-min) and (max-width: @screen-xs-max) {
    width: 80%;
    margin: 0 auto;
  }
  ul {
    .list-unstyled;
    @media (min-width: @screen-lg-min) {
      .clearfix;
      .flex-container;
    }
    li {
      font-size: 14px;
      padding-left: 40px;
      margin-bottom: 30px;
      min-height: 25px;
      line-height: 1.2;
      @media (min-width: @screen-sm-min) {
        font-size: 16px;
      }
      @media (min-width: @screen-lg-min) {
        float: left;
        width: 50%;
        padding-right: 40px;
        margin-bottom: 40px;
      }
      a {
        color: @gray-dark;
        font-size: 14px;
        display: inline-block;
        margin-bottom: 5px;
        .no-border;
        @media (min-width: @screen-sm-min) {
          font-size: 16px;
          margin-bottom: 10px;
        }
        span {
          .border-link(@border-color: rgba(29,29,27,0.3), @border-hover-color: rgba(29,29,27,0.5));
        }
        &:hover, &:focus {
          color: @link-color;
          .no-border;
          span {
            .border-link();
          }
        }
      }
      div {
        padding-left:55px;
      }
    }
  }
}
&.doc {
  background: url(../icons/doc.png) no-repeat left center;
}
&.docx {
  background: url(../icons/docx.png) no-repeat left center;
}
&.xlsx {
  background: url(../icons/xlsx.png) no-repeat left center;
}
&.pdf {
  background: url(../icons/pdf.png) no-repeat left center;
}
&.xls {
  background: url(../icons/xls.png) no-repeat left center;
}

.doc-pictures-item {
  position: relative;
  height: 300px;
  img {
    .img-responsive;
  }
  border:1px solid @link-color;
  padding:10px;
  margin: 0 0 30px 0;
  overflow: hidden;
  .pic-sub-title {
    position: absolute;
    bottom:0;
    left:0;
    background-color: #1d1d1b;
    opacity: 0.6;
    color: #fff;
    padding:6px;
  }
}
.reviews-item-page {
  margin-bottom:40px;
}